
.dp-item{
color: #080807 !important;
}
.dp-today{
background-color:#525247 !important;
color: #F7F73E !important;
}
.dp-selected {
background-color:#080807 !important;
color: #F7F73E !important;
} 
.glyphicon{
color: #F7F73E !important;
} 
.dp-nav{
background-color:#080807 !important;
}